<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Skeletom</title>
</head>
<body>
    <section>
        <h1>Le cucine più amate</h1>
        <p>trova le cucine più amate nei ristoranti della tua zona e ordina online a domicilio.</p>

        <main> 
          <div>
           <img src="spesa.webp" alt="">
            <p>Spesa</p>
          </div>
    
          <div>
            <img src="pizza.webp" alt="">
            <p>Pizza</p>
          </div>
          <div>
           <img src="hamburger.webp" alt="">
            <p>Hamburger</p>
          </div>
    
          <div>
            <img src="italiano.webp" alt="">
            <p>Italiano</p>
          </div>
    
          <div>
            <img src="americano.webp" alt="">
            <p>Americano</p>
          </div>
    
          <div>
            <img src="giapponese.webp" alt="">
            <p>Giapponese</p>
          </div>
    
          <div>
            <img src="cinese.webp" alt="">
            <p>Cinese</p>
          </div>
    
          <div>
            <img src="kebab.webp" alt="">
            <p>Kebab</p>
          </div>
        </main>
           
    
     
       

    
    
    
       </section>
</body>
</html>