<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="navbar.css" />
    <title>Navbar</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div id="topImage">
          <img src="icons/coupon_just_eat.webp" alt="logo-just-eat" />
        </div>
        <nav>
          <ul>
            <li>
              <img
                src="icons/noun-food-delivery-1744813.svg"
                alt="rider-icon"
                height="24"
                width="24"
              />
              <a href="#">Diventa un rider Just Eat</a>
            </li>
            <li>
              <a href="#">Accedi</a>
            </li>
            <li>
              <img
                src="icons/noun-help-2057866.svg"
                alt="help-icon"
                height="24"
                width="24"
              />
              <a href="#">Aiuto ?</a>
            </li>
            <li>
              <a href="#"
                ><img
                  src="icons/noun-country-2101875.svg"
                  alt="country-selection"
                  height="40"
                  width="40"
              /></a>
              <div id="dropdwn-menu">
                <div id="dropdwn-title">
                  <h3>Seleziona il tuo paese</h3>
                </div>
                <ul>
                  <li id="uk">
                    <a href=""
                      ><img
                        src="icons/icons8-great-britain-48.png"
                        alt=""
                      /><span>United Kingdom</span></a
                    >
                  </li>
                  <li id="au">
                    <a href=""
                      ><img
                        src="icons/icons8-australia-48.png"
                        alt="australia-icon"
                      /><span>Australia</span></a
                    >
                  </li>
                  <li id="ost">
                    <a href=""
                      ><img src="icons/icons8-austria-48.png" alt="" /><span
                        >Osterreich</span
                      ></a
                    >
                  </li>
                  <li id="bg">
                    <a href=""
                      ><img src="icons/icons8-belgium-48.png" alt="" /><span
                        >Belgie</span
                      ></a
                    >
                  </li>
                  <li id="bulg">
                    <a href=""
                      ><img src="icons/icons8-bulgaria-48.png" alt="" /><span
                        >Bulagaria</span
                      ></a
                    >
                  </li>
                  <li id="can">
                    <a href=""
                      ><img
                        src="icons/icons8-canada-48.png"
                        alt="canada icon"
                      /><span>Canada</span></a
                    >
                  </li>
                  <li id="can-fr">
                    <a href=""
                      ><img
                        src="icons/icons8-canada-48.png"
                        alt="canada icon"
                      /><span>Canada (FR)</span></a
                    >
                  </li>
                  <li id="dnm">
                    <a href=""
                      ><img src="icons/icons8-denmark-48.png" alt="" /><span
                        >Danmark</span
                      ></a
                    >
                  </li>
                  <li id="fr">
                    <a href=""
                      ><img src="icons/icons8-france-48.png" alt="" /><span
                        >France</span
                      ></a
                    >
                  </li>
                  <li id="dt">
                    <a href=""
                      ><img src="icons/icons8-germany-48.png" alt="" /><span
                        >Deutschland</span
                      ></a
                    >
                  </li>
                  <li id="ire">
                    <a href=""
                      ><img src="icons/icons8-ireland-48.png" alt="" /><span
                        >Ireland</span
                      ></a
                    >
                  </li>
                  <li id="isr">
                    <a href=""
                      ><img src="icons/icons8-israel-48.png" alt="" /><span
                        >Israel</span
                      ></a
                    >
                  </li>
                  <li id="it">
                    <a href=""
                      ><img src="icons/icons8-italy-48.png" alt="" /><span
                        >Italia</span
                      ></a
                    >
                  </li>
                  <li id="lux">
                    <a href=""
                      ><img src="icons/icons8-netherlands-48.png" alt="" /><span
                        >Luxembourg</span
                      ></a
                    >
                  </li>
                  <li id="nd">
                    <a href=""
                      ><img src="icons/icons8-netherlands-48.png" alt="" /><span
                        >Nederland</span
                      ></a
                    >
                  </li>
                  <li id="newZ">
                    <a href=""
                      ><img src="icons/icons8-new-zealand-48.png" alt="" /><span
                        >New Zaeland</span
                      ></a
                    >
                  </li>
                  <li id="ng">
                    <a href=""
                      ><img src="icons/icons8-norway-48.png" alt="" /><span
                        >Norge</span
                      ></a
                    >
                  </li>
                  <li id="pln">
                    <a href=""
                      ><img src="icons/icons8-poland-48.png" alt="" /><span
                        >Polska</span
                      ></a
                    >
                  </li>
                  <li id="port">
                    <a href=""
                      ><img src="icons/icons8-portugal-48.png" alt="" /><span
                        >Portugal</span
                      ></a
                    >
                  </li>
                  <li id="rom">
                    <a href=""
                      ><img src="icons/icons8-romania-48.png" alt="" /><span
                        >Romania</span
                      ></a
                    >
                  </li>
                  <li id="sp">
                    <a href=""
                      ><img src="icons/icons8-spain-48.png" alt="" /><span
                        >Espana</span
                      ></a
                    >
                  </li>
                  <li id="schw">
                    <a href=""
                      ><img src="icons/icons8-switzerland-48.png" alt="" /><span
                        >Schweiz</span
                      ></a
                    >
                  </li>
                  <li id="switz">
                    <a href=""
                      ><img src="icons/icons8-switzerland-48.png" alt="" /><span
                        >Switzerland</span
                      ></a
                    >
                  </li>
                  <li id="swiss">
                    <a href=""
                      ><img src="icons/icons8-switzerland-48.png" alt="" /><span
                        >Suisse</span
                      ></a
                    >
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </header>
  </body>
</html>
