<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>storeSection</title>
</head>

<body>
    <section class="smartphone">
        
        <div>
            <img src="Image/immagine smartphone homepage.png" alt="">
        </div>
        <section>
            
            <section class="logo">        
                
                <div class="article">
                    <h1>Il bello è prenderci gusto</h1>
                    <p>Scarica l'app di Just Eat e ordina dove vuoi, qualunque cosa desideri.</p>
                    
                </div>
                
                <div class=" media">
                    <img src="Image/noun-media-2364213.png" alt="">
                    <img src="Image/noun-apple-5093273.png" alt="">
                </div>
                
                
                
                
            </section>
            
            
            
            
            
            
            
            
            
            
            
            
        </body>
        </html>