<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="card-restaurants.css" />
    <link rel="stylesheet" href="../../assets/css/common.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <title>Card ristoranti searchpage</title>
  </head>
  <body>
    <div class="listings">
      <!-- first card -->
      <a class="card" href="#">
        <figure class="pictureBox">
          <img
            class="picture"
            src="images/getir-stadera.jpg"
            alt="getir stadera"
          />
          <img class="logo" src="images/getir-logo.gif" alt="logo" />
          <ul class="sponsoredAndFidelty">
            <li><span class="sponsored dontDisplay">Sponsorizzato</span></li>
            <li><span class="fideltyCard">Carta Fedeltà</span></li>
          </ul>
        </figure>

        <div class="cardGrid">
          <header class="headerRestaurant bold">Getir - Stadera</header>
          <p class="ratingAndReviews">
            <span class="fa fa-star checked"></span>
            <span class="ratingLeft bold">4.70</span>
            <span class="ratingDivider">/</span>
            <span class="ratingRight">5</span>
            <span class="numberOfReviews">(11)</span>
          </p>
          <p class="restaurantTypes">
            <span class="restaurantType1 afterContentDot">Spesa</span>
            <span class="restaurantType2">Alimentari</span>
          </p>

          <p class="distance bold">
            <span class="fa fa-map-marker"></span>
            <span class="onePointFourKm">1.4 km</span>
          </p>

          <p class="delivery">
            <span class="fa fa-money"></span>
            <span class="afterContentDot">Consegna: GRATIS</span>
            Ordine Minimo: € 15
          </p>
        </div>
      </a>

      <!-- second card  -->
      <a class="card cardNotFirst" href="#">
        <figure class="pictureBox">
          <img
            class="picture"
            src="images/StrEat - Burger Bar.webp"
            alt="getir stadera"
          />
          <img class="logo" src="images/StrEat_Logo.gif" alt="logo" />
          <ul class="sponsoredAndFidelty">
            <li><span class="sponsored">Sponsorizzato</span></li>
            <li><span class="fideltyCard dontDisplay">Carta Fedeltà</span></li>
          </ul>
        </figure>

        <div class="cardGrid">
          <header class="headerRestaurant bold">StrEat - Burger Bar</header>
          <p class="ratingAndReviews">
            <span class="fa fa-star checked"></span>
            <span class="ratingLeft bold">3.50</span>
            <span class="ratingDivider">/</span>
            <span class="ratingRight">5</span>
            <span class="numberOfReviews">(5)</span>
          </p>
          <p class="restaurantTypes">
            <span class="restaurantType1 afterContentDot">Hamburger</span>
            <span class="restaurantType2">Americano</span>
          </p>

          <p class="distance bold">
            <span class="fa fa-map-marker"></span>
            <span class="onePointFourKm">1.4 km</span>
          </p>

          <p class="delivery">
            <span class="fa fa-money"></span>
            <span class="afterContentDot">Consegna: € 1</span>
            Ordine Minimo: € 5
          </p>
        </div>
      </a>

      <!-- third card  -->
      <a class="card cardNotFirst" href="#">
        <figure class="pictureBox">
          <img
            class="picture"
            src="images/Lo Scoglio Sul Naviglio.webp"
            alt="getir stadera"
          />
          <img
            class="logo"
            src="images/Lo Scoglio Sul Naviglio Logo.gif"
            alt="logo"
          />
          <ul class="sponsoredAndFidelty">
            <li><span class="sponsored">Sponsorizzato</span></li>
            <li><span class="fideltyCard">Carta Fedeltà</span></li>
          </ul>
        </figure>

        <div class="cardGrid">
          <header class="headerRestaurant bold">Lo Scoglio Sul Naviglio</header>
          <p class="ratingAndReviews">
            <span class="fa fa-star checked"></span>
            <span class="ratingLeft bold">4.10</span>
            <span class="ratingDivider">/</span>
            <span class="ratingRight">5</span>
            <span class="numberOfReviews">(3075)</span>
          </p>
          <p class="restaurantTypes">
            <span class="restaurantType1 afterContentDot">Pizza</span>
            <span class="restaurantType2">Italiano</span>
          </p>

          <p class="distance bold">
            <span class="fa fa-map-marker"></span>
            <span class="onePointFourKm">1.8 km</span>
          </p>

          <p class="delivery">
            <span class="fa fa-money"></span>
            <span class="afterContentDot">Consegna: GRATIS</span>
            Ordine Minimo: € 10
          </p>
        </div>
      </a>

      <!-- fourth card  -->
      <a class="card cardNotFirst" href="#">
        <figure class="pictureBox">
          <img
            class="picture"
            src="images/I Love Poke.jpeg"
            alt="getir stadera"
          />
          <img class="logo" src="images/I Love Poke Logo.gif" alt="logo" />
          <ul class="sponsoredAndFidelty">
            <li><span class="sponsored">Sponsorizzato</span></li>
            <li><span class="fideltyCard">Carta Fedeltà</span></li>
          </ul>
        </figure>

        <div class="cardGrid">
          <header class="headerRestaurant bold">I Love Poke - Tortona</header>
          <p class="ratingAndReviews">
            <span class="fa fa-star checked"></span>
            <span class="ratingLeft bold">4.20</span>
            <span class="ratingDivider">/</span>
            <span class="ratingRight">5</span>
            <span class="numberOfReviews">(319)</span>
          </p>
          <p class="restaurantTypes">
            <span class="restaurantType1 afterContentDot">Poke</span>
            <span class="restaurantType2 afterContentDot">Healthy</span>
            <span>Gustali a pranzo</span>
          </p>

          <p class="distance bold">
            <span class="fa fa-map-marker"></span>
            <span class="onePointFourKm">1.0 km</span>
          </p>

          <p class="delivery">
            <span class="fa fa-money"></span>
            <span class="afterContentDot">Consegna: € 1</span>
            Ordine Minimo: € 5
          </p>
        </div>
      </a>

      <!-- fifth card  -->
      <a class="card cardNotFirst" href="#">
        <figure class="pictureBox">
          <img
            class="picture"
            src="images/Pizzeria La Carrozza.webp"
            alt="getir stadera"
          />
          <img
            class="logo"
            src="images/Pizzeria La Carrozza Logo.gif"
            alt="logo"
          />
          <ul class="sponsoredAndFidelty">
            <li><span class="sponsored">Sponsorizzato</span></li>
            <li><span class="fideltyCard">Carta Fedeltà</span></li>
          </ul>
        </figure>

        <div class="cardGrid">
          <header class="headerRestaurant bold">Pizzeria La Carrozza</header>
          <p class="ratingAndReviews">
            <span class="fa fa-star checked"></span>
            <span class="ratingLeft bold">4.10</span>
            <span class="ratingDivider">/</span>
            <span class="ratingRight">5</span>
            <span class="numberOfReviews">(1201)</span>
          </p>
          <p class="restaurantTypes">
            <span class="restaurantType1 afterContentDot">Pizza</span>
            <span class="restaurantType2">Italiano</span>
          </p>

          <p class="distance bold">
            <span class="fa fa-map-marker"></span>
            <span class="onePointFourKm">2.4 km</span>
          </p>

          <p class="delivery">
            <span class="fa fa-money"></span>
            <span class="afterContentDot">Consegna: GRATIS</span>
            Ordine Minimo: € 11
          </p>
        </div>
      </a>

      <!-- sixth card  -->
      <a class="card cardNotFirst" href="#">
        <figure class="pictureBox">
          <img
            class="picture"
            src="images/Mc Donalds XXIV Maggio.webp"
            alt="getir stadera"
          />
          <img
            class="logo"
            src="images/Mc Donalds XXIV Maggio Logo.gif"
            alt="logo"
          />
          <ul class="sponsoredAndFidelty">
            <li><span class="sponsored dontDisplay">Sponsorizzato</span></li>
            <li><span class="fideltyCard dontDisplay">Carta Fedeltà</span></li>
          </ul>
        </figure>

        <div class="cardGrid">
          <header class="headerRestaurant bold">
            McDonald's - XXIV Maggio
          </header>
          <p class="ratingAndReviews">
            <span class="fa fa-star checked"></span>
            <span class="ratingLeft bold">3.50</span>
            <span class="ratingDivider">/</span>
            <span class="ratingRight">5</span>
            <span class="numberOfReviews">(524)</span>
          </p>
          <p class="restaurantTypes">
            <span class="restaurantType1 afterContentDot">Hamburger</span>
            <span class="restaurantType2">Americano</span>
          </p>

          <p class="distance bold">
            <span class="fa fa-map-marker"></span>
            <span class="onePointFourKm">1.3 km</span>
          </p>

          <p class="delivery">
            <span class="fa fa-money"></span>
            <span class="afterContentDot">Consegna: € 1.29</span>
            Ordine Minimo: € 5
          </p>
        </div>
      </a>

      <!-- seventh card  -->
      <a class="card cardNotFirst" href="#">
        <figure class="pictureBox">
          <img
            class="picture"
            src="images/Burger King Tibaldi.jpeg"
            alt="getir stadera"
          />
          <img
            class="logo"
            src="images/Burger King Tibaldi Logo.gif"
            alt="logo"
          />
          <ul class="sponsoredAndFidelty">
            <li><span class="sponsored dontDisplay">Sponsorizzato</span></li>
            <li><span class="fideltyCard dontDisplay">Carta Fedeltà</span></li>
          </ul>
        </figure>

        <div class="cardGrid">
          <header class="headerRestaurant bold">Burger King - Tibaldi</header>
          <p class="ratingAndReviews">
            <span class="fa fa-star checked"></span>
            <span class="ratingLeft bold">3.60</span>
            <span class="ratingDivider">/</span>
            <span class="ratingRight">5</span>
            <span class="numberOfReviews">(1670)</span>
          </p>
          <p class="restaurantTypes">
            <span class="restaurantType1 afterContentDot">Hamburger</span>
            <span class="restaurantType2">Americano</span>
          </p>

          <p class="distance bold">
            <span class="fa fa-map-marker"></span>
            <span class="onePointFourKm">1.0 km</span>
          </p>

          <p class="delivery">
            <span class="fa fa-money"></span>
            <span class="afterContentDot">Consegna:€ 1</span>
            Nessun minimo d'ordine
          </p>
        </div>
      </a>

      <!-- eight card  -->
      <a class="card cardNotFirst" href="#">
        <figure class="pictureBox">
          <img
            class="picture"
            src="images/Sweetburger.webp"
            alt="getir stadera"
          />
          <img class="logo" src="images/Sweetburger Logo.gif" alt="logo" />
          <ul class="sponsoredAndFidelty">
            <li><span class="sponsored dontDisplay">Sponsorizzato</span></li>
            <li><span class="fideltyCard dontDisplay">Carta Fedeltà</span></li>
          </ul>
        </figure>

        <div class="cardGrid">
          <header class="headerRestaurant bold">Sweetburger</header>
          <p class="ratingAndReviews">
            <span class="fa fa-star checked"></span>
            <span class="ratingLeft bold">4.40</span>
            <span class="ratingDivider">/</span>
            <span class="ratingRight">5</span>
            <span class="numberOfReviews">(412)</span>
          </p>
          <p class="restaurantTypes">
            <span class="restaurantType1 afterContentDot">Hamburger</span>
            <span class="restaurantType2">Americano</span>
          </p>

          <p class="distance bold">
            <span class="fa fa-map-marker"></span>
            <span class="onePointFourKm">1.4 km</span>
          </p>

          <p class="delivery">
            <span class="fa fa-money"></span>
            <span class="afterContentDot">Consegna:€ 1</span>
            Ordine Minimo: € 5
          </p>
        </div>
      </a>
    </div>
  </body>
</html>
