<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="card-restaurants.css" />
    <link rel="stylesheet" href="../../assets/css/common.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <title>Card ristoranti searchpage</title>
  </head>
  <body>
    <!-- first card -->
    <a class="card" href="#">
      <figure class="pictureBox sectionOfCard">
        <img
          class="picture"
          src="images/getir-stadera.jpg"
          alt="getir stadera"
        />
      </figure>

      <div class="cardGrid">
        <header class="headerRestaurant bold">Getir - Stadera</header>
        <p class="ratingAndReviews">
          <span class="fa fa-star checked"></span>
          <span class="ratingLeft bold">4.70</span>
          <span class="ratingDivider">/</span>
          <span class="ratingRight">5</span>
          <span class="numberOfReviews">(11)</span>
        </p>
        <p class="restaurantTypes">
          <span class="restaurantType1 afterContentDot">Spesa </span>
          <span class="restaurantType2">Alimentari</span>
        </p>

        <p class="distance bold">
          <span class="fa fa-map-marker"></span>
          <span class="onePointFourKm">1.4 km</span>
        </p>

        <p class="delivery">
          <span class="fa fa-money"></span>
          Consegna da: <span class="aftecrContentDot">GRATIS </span>
          Ordine Minimo: € 15
        </p>
      </div>
    </a>

    <!-- second card  -->
    <a class="card cardNotFirst" href="#">
      <figure class="pictureBox sectionOfCard">
        <img
          class="picture"
          src="images/getir-stadera.jpg"
          alt="getir stadera"
        />
      </figure>

      <div class="cardGrid">
        <header class="headerRestaurant bold">Getir - Stadera</header>
        <p class="ratingAndReviews">
          <span class="fa fa-star checked"></span>
          <span class="ratingLeft bold">4.70</span>
          <span class="ratingDivider">/</span>
          <span class="ratingRight">5</span>
          <span class="numberOfReviews">(11)</span>
        </p>
        <p class="restaurantTypes">
          <span class="restaurantType1 afterContentDot">Spesa </span>
          <span class="restaurantType2">Alimentari</span>
        </p>

        <p class="distance bold">
          <span class="fa fa-map-marker"></span>
          <span class="onePointFourKm">1.4 km</span>
        </p>

        <p class="delivery">
          <span class="fa fa-money"></span>
          Consegna da: <span class="aftecrContentDot">GRATIS </span>
          Ordine Minimo: € 15
        </p>
      </div>
    </a>

    <!-- third card  -->
    <a class="card cardNotFirst" href="#">
      <figure class="pictureBox sectionOfCard">
        <img
          class="picture"
          src="images/getir-stadera.jpg"
          alt="getir stadera"
        />
      </figure>

      <div class="cardGrid">
        <header class="headerRestaurant bold">Getir - Stadera</header>
        <p class="ratingAndReviews">
          <span class="fa fa-star checked"></span>
          <span class="ratingLeft bold">4.70</span>
          <span class="ratingDivider">/</span>
          <span class="ratingRight">5</span>
          <span class="numberOfReviews">(11)</span>
        </p>
        <p class="restaurantTypes">
          <span class="restaurantType1 afterContentDot">Spesa </span>
          <span class="restaurantType2">Alimentari</span>
        </p>

        <p class="distance bold">
          <span class="fa fa-map-marker"></span>
          <span class="onePointFourKm">1.4 km</span>
        </p>

        <p class="delivery">
          <span class="fa fa-money"></span>
          Consegna da: <span class="aftecrContentDot">GRATIS </span>
          Ordine Minimo: € 15
        </p>
      </div>
    </a>

    <!-- fourth card  -->
    <a class="card cardNotFirst" href="#">
      <figure class="pictureBox sectionOfCard">
        <img
          class="picture"
          src="images/getir-stadera.jpg"
          alt="getir stadera"
        />
      </figure>

      <div class="cardGrid">
        <header class="headerRestaurant bold">Getir - Stadera</header>
        <p class="ratingAndReviews">
          <span class="fa fa-star checked"></span>
          <span class="ratingLeft bold">4.70</span>
          <span class="ratingDivider">/</span>
          <span class="ratingRight">5</span>
          <span class="numberOfReviews">(11)</span>
        </p>
        <p class="restaurantTypes">
          <span class="restaurantType1 afterContentDot">Spesa </span>
          <span class="restaurantType2">Alimentari</span>
        </p>

        <p class="distance bold">
          <span class="fa fa-map-marker"></span>
          <span class="onePointFourKm">1.4 km</span>
        </p>

        <p class="delivery">
          <span class="fa fa-money"></span>
          Consegna da: <span class="aftecrContentDot">GRATIS </span>
          Ordine Minimo: € 15
        </p>
      </div>
    </a>

    <!-- fifth card  -->
    <a class="card cardNotFirst" href="#">
      <figure class="pictureBox sectionOfCard">
        <img
          class="picture"
          src="images/getir-stadera.jpg"
          alt="getir stadera"
        />
      </figure>

      <div class="cardGrid">
        <header class="headerRestaurant bold">Getir - Stadera</header>
        <p class="ratingAndReviews">
          <span class="fa fa-star checked"></span>
          <span class="ratingLeft bold">4.70</span>
          <span class="ratingDivider">/</span>
          <span class="ratingRight">5</span>
          <span class="numberOfReviews">(11)</span>
        </p>
        <p class="restaurantTypes">
          <span class="restaurantType1 afterContentDot">Spesa </span>
          <span class="restaurantType2">Alimentari</span>
        </p>

        <p class="distance bold">
          <span class="fa fa-map-marker"></span>
          <span class="onePointFourKm">1.4 km</span>
        </p>

        <p class="delivery">
          <span class="fa fa-money"></span>
          Consegna da: <span class="aftecrContentDot">GRATIS </span>
          Ordine Minimo: € 15
        </p>
      </div>
    </a>

    <!-- sixth card  -->
    <a class="card cardNotFirst" href="#">
      <figure class="pictureBox sectionOfCard">
        <img
          class="picture"
          src="images/getir-stadera.jpg"
          alt="getir stadera"
        />
      </figure>

      <div class="cardGrid">
        <header class="headerRestaurant bold">Getir - Stadera</header>
        <p class="ratingAndReviews">
          <span class="fa fa-star checked"></span>
          <span class="ratingLeft bold">4.70</span>
          <span class="ratingDivider">/</span>
          <span class="ratingRight">5</span>
          <span class="numberOfReviews">(11)</span>
        </p>
        <p class="restaurantTypes">
          <span class="restaurantType1 afterContentDot">Spesa </span>
          <span class="restaurantType2">Alimentari</span>
        </p>

        <p class="distance bold">
          <span class="fa fa-map-marker"></span>
          <span class="onePointFourKm">1.4 km</span>
        </p>

        <p class="delivery">
          <span class="fa fa-money"></span>
          Consegna da: <span class="aftecrContentDot">GRATIS </span>
          Ordine Minimo: € 15
        </p>
      </div>
    </a>

    <!-- seventh card  -->
    <a class="card cardNotFirst" href="#">
      <figure class="pictureBox sectionOfCard">
        <img
          class="picture"
          src="images/getir-stadera.jpg"
          alt="getir stadera"
        />
      </figure>

      <div class="cardGrid">
        <header class="headerRestaurant bold">Getir - Stadera</header>
        <p class="ratingAndReviews">
          <span class="fa fa-star checked"></span>
          <span class="ratingLeft bold">4.70</span>
          <span class="ratingDivider">/</span>
          <span class="ratingRight">5</span>
          <span class="numberOfReviews">(11)</span>
        </p>
        <p class="restaurantTypes">
          <span class="restaurantType1 afterContentDot">Spesa </span>
          <span class="restaurantType2">Alimentari</span>
        </p>

        <p class="distance bold">
          <span class="fa fa-map-marker"></span>
          <span class="onePointFourKm">1.4 km</span>
        </p>

        <p class="delivery">
          <span class="fa fa-money"></span>
          Consegna da: <span class="aftecrContentDot">GRATIS </span>
          Ordine Minimo: € 15
        </p>
      </div>
    </a>

    <!-- eight card  -->
    <a class="card cardNotFirst" href="#">
      <figure class="pictureBox sectionOfCard">
        <img
          class="picture"
          src="images/getir-stadera.jpg"
          alt="getir stadera"
        />
      </figure>

      <div class="cardGrid">
        <header class="headerRestaurant bold">Getir - Stadera</header>
        <p class="ratingAndReviews">
          <span class="fa fa-star checked"></span>
          <span class="ratingLeft bold">4.70</span>
          <span class="ratingDivider">/</span>
          <span class="ratingRight">5</span>
          <span class="numberOfReviews">(11)</span>
        </p>
        <p class="restaurantTypes">
          <span class="restaurantType1 afterContentDot">Spesa </span>
          <span class="restaurantType2">Alimentari</span>
        </p>

        <p class="distance bold">
          <span class="fa fa-map-marker"></span>
          <span class="onePointFourKm">1.4 km</span>
        </p>

        <p class="delivery">
          <span class="fa fa-money"></span>
          Consegna da: <span class="aftecrContentDot">GRATIS </span>
          Ordine Minimo: € 15
        </p>
      </div>
    </a>
  </body>
</html>
